:root {
    --bg-color: #eeeeee;
    --fg-color: #101010;
}

body {
    background: var(--bg-color);
    color: var(--fg-color);
}

p {
    background: #404040;
    color: aliceblue;
    width: 100%;
    text-align: center;
}

.clock {
    width: 200px;
    height: 200px;
    margin:0 auto;
    margin-top: 100px;
    position: relative;
    transition: transform 300ms 0s ease;

}
.clock:hover {
    transform: scale(110%);
    transition: transform 300ms 0s ease;
}

.sub {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
}

.sec {
    background: var(--fg-color);
    border-radius: 100% 0% 100% 0%;
    transform: rotate(1125deg) skew(11deg, 11deg);
}

.im1 {
    background: var(--bg-color);
    border-radius: 100%;
    transform: scale(84%);
}
.im2 {
    background: var(--fg-color);
    border-radius: 100%;
    transform: scale(73%, 76%);
}
.im3 {
    background: var(--bg-color);
    border-radius: 100%;
    transform: scale(68%, 71%);
}
.hour {
    background: var(--fg-color);
    border-radius : 100% 5% 60% 10% / 60% 5% 100% 10%;
    transform-origin: 5% 95%;
    transform: translate(45%, -38%) rotate(-585deg) skew(-20deg, -20deg) scale(15%);
}

.min {
    background: var(--fg-color);
    border-radius : 100% 5% 100% 10% / 100% 5% 100% 10%;
    transform-origin: 5% 95%;
    transform: translate(45%, -38%) rotate(-1485deg) skew(-20deg, -20deg) scale(23%);
}

.sample1{
    background: violet;
    mix-blend-mode: multiply;
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 100px;
}
.sample2{
    position: absolute;
    inset: 0;
    margin: auto;
    background:darkgreen;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    transform-origin: 0% 100%;
    transform: translate(10%, 10%) rotate(300deg) skew(-10deg, -10deg) scale(50%);
}
.sample3{
    position: absolute;
    inset: 0;
    margin: auto;
    background: darkseagreen;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    transform-origin: 0% 100%;
    transform: translate(10%, 10%) skew(-10deg, -10deg) scale(50%);
}
.sample4{
    position: absolute;
    inset: 0;
    margin: auto;
    background: darkseagreen;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: translate(-40%, 60%) scale(165%);
}